@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #fef2f2;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html, body {
    @apply h-fit w-full;
    @apply bg-red-50
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .highlight-red {
    @apply bg-red-600 text-white text-2xl font-semibold px-1 pb-0.5 rounded-sm
  }
  .highlight-amber {
    @apply bg-amber-500 text-white font-semibold px-0.5
  }
  .highlight-green {
    @apply bg-green-500 text-white font-semibold px-0.5
  }
  .gradiant-red-amber {
    @apply bg-gradient-to-r from-red-600 via-amber-600 to-orange-700 inline-block text-transparent bg-clip-text
  }
}
