@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #fef2f2;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html, body {
    @apply h-full w-full;
    @apply bg-red-50
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .highlight-red {
    @apply bg-red-500 text-white font-semibold px-0.5
  }
  .highlight-amber {
    @apply bg-amber-500 text-white font-semibold px-0.5
  }
  .highlight-green {
    @apply bg-green-500 text-white font-semibold px-0.5
  }
}
